.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*---------------NAVBAR-----------------------*/
.navBar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1000;
  background-color: var(--primary-color);
  width: 100%;
  min-height: fit-content;
  align-items: center;
  padding: .4rem .3rem .4rem .3rem;
}
.navBar .NavBarIcon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.navBar .NavBarIcon:hover {
  font-size: 2rem;
  color: white;
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.navBarImage {
  flex: 1;
  height: 35px;
  max-width: 250px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.navBarImage:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*--------------HOME------------*/
.Home {
  margin-top: 48px;
  margin-bottom: 20px;
  width: 100%;
  height: 50vh;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  column-gap: 3rem;
  background-image: linear-gradient(rgb(66 62 55 / 52%), rgb(190 179 179 / 7%)),url('../public/assets/blogExample/main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.Home .HomeText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
  flex-direction: column;
  flex: 1;
  animation-delay: 1.4s;
  animation-duration: 1s;
  animation-name: animate-element-bottom ;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.4s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: animate-element-bottom ;
  -webkit-animation-fill-mode: forwards;
}
.HomeText p {
  font-weight: 500;
}
.HomeText h2 {
  font-size: calc(1.5rem + 1vw)
}


/*---------------HEADER-----------------*/
.Header {
  margin-top: 60px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  column-gap: 3rem;
  background-image: linear-gradient(rgb(66 62 55 / 52%), rgb(190 179 179 / 7%)),url('../public/assets/blogExample/main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 40vh;
  width: 100%;
}

.Header .HeaderText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
  flex-direction: column;
  flex: 1;
  animation-delay: 1.4s;
  animation-duration: 1s;
  animation-name: animate-element-bottom ;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.4s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: animate-element-bottom ;
  -webkit-animation-fill-mode: forwards;
  align-items: center;
}
.Header p {
  font-weight: 500;
}
.Header h2 {
  font-size: calc(1.5rem + 1vw)
}



/*---------------DELIMITER-----------------*/

.Delimiter {
  color: white;
  width: 100%;
}
.Delimiter .DelimiterContent{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  column-gap: 10px;
  background-color: var(--primary-color);
}
.Delimiter .DelimiterContent h2{
  /* font-size: 2rem; */
  font-size: calc(1.5rem + 1vw)
}
/*--------------DESTINATION------------------*/
.Destination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  justify-items: center;
}
.DestinationCard {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
  padding: 1rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
}
.DestinationCard:hover {
  transform: translateY(-10px);
}
.DestinationCard:hover:before {
  opacity: 1;
}
.DestinationCard:hover .DestinationCardInfo {
  opacity: 1;
  transform: translateY(0px);
}
.DestinationCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.DestinationCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.DestinationCard .DestinationCardInfo {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.DestinationCard .DestinationCardInfo p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.DestinationCard .DestinationCardInfo button {
  margin-top: 5px;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  width: 90%;
  cursor: pointer;
  transition: 0.4s ease;
}
.DestinationCard .DestinationCardInfo button:hover {
  background: white;
  color: black;
}


/*--------------------BLOG------------------*/
.Blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  justify-items: center;
  margin-bottom: 2rem;
  padding: 1rem 0rem 1rem 0rem;
}
.BlogContainer {
  padding: 1rem 3rem 1rem 3rem;
  width: 100%;
}

.BlogCard {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.BlogCardLarger {
  width: 100%;
}

.BlogCard:hover {
  -webkit-transform: scale(1.02);
	transform: scale(1.02);
}
.BlogCard .BlogImage {
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
   object-fit: cover;
   width: 100%;
   height: 200px;
}
.AutorImage {
  border-radius: 50rem;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.BlogCard .BlogInfo {
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
  padding: 1rem;
  align-self: flex-start;
  width: 100%;
  justify-content: space-between;
}
.BlogCard .BlogInfo div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.BlogCard .BlogInfo div img{
  margin-left: 10px;
}
.BlogCard .BlogInfo h3 {
  color: var(--primary-font-color);
  font-weight: 600;
}
.BlogCard .BlogInfo h4{
  font-weight: 400;
  color: var(--primary-font-color);
}
.BlogCard .BlogInfo p{
  font-weight: 400;
}
.BlogCard .BlogInfo hr{
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--primary-color);
  font-weight: 400;
}



.BlogDetailDate {
  transform: translateY(-60px);
  align-items: flex-start;
  width: 100%;
  padding: 0rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
}
.BlogDetailDate p{
  font-weight: 400;
  font-size: calc(.5rem + 1vw);
}
.BlogDetailDate h3{
  font-weight: 400;
  font-size: calc(.7rem + 1vw);
  color: var(--primary-font-color);
}
.BlogDetailDate hr{
  width: 30%;
  height: 2px;
  border: none;
  background-color: var(--primary-color);
  font-weight: 400;
}
.BlogDetailDate img{
  font-weight: 400;
  font-size: calc(.7rem + 1vw);
  color: var(--primary-font-color);
}
.BlogDetailDate div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.BlogDetailDate div img{
  margin-right: 10px;
}


.BlogContent {
  width: 100%;
  padding: 0rem 3rem 1rem 3rem;
  display: flex;
  column-gap: 2rem;
}
.BlogContent div{
  flex: 3;
}
.BlogContent img{
  width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.BlogDetailSection h2{
  font-size: calc(1.4rem + 1vw);
}
.BlogDetailSection h3{
 
}
.BlogDetailSection p{
  
}
/*-----------------GALLERY------------------*/
.Gallery {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  display: grid;
  width: 100%;
  justify-items: center;
  padding: 1rem;
}
.GalleryAnimate {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-name: animate-element-fade;
  -webkit-animation-name: animate-element-fade;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.Gallery .GalleryElement {
  width: 100%;
  align-items: center;
  height: 250px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .5s ease-in-out;
}
.Gallery .GalleryElement:hover {
  -webkit-transform: scale(1.08);
	transform: scale(1.08);
}
.Gallery .GalleryElement img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

/*---------------ABOUT-------------------*/
.About {
  width: 85%;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/*---------------FOOTER-------------------*/

.Footer {
  padding: 1rem;
  text-align: center;
  text-align: -webkit-center;
  background-color: var(--primary-color);
  width: 100%;
  color: white;
}
.Footer hr {
  width: 60%;
  height: 2px;
  border: none;
  background-color: var(--primary-font-color);
  font-weight: 400;
  margin-bottom: .5rem;
}
.Footer .FooterLegal {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.Footer .FooterLegal div {
  display: flex;
  column-gap: .6rem;
  color: var(--primary-font-color);
}
.Footer .FooterLegal div a{
  font-weight: 400;
  font-size: x-small;
}
.Footer a:hover{
  color: black;
  font-weight: bold;
}
/*--------------AWARDS--------------------*/
.Awards {
  width: 100%;
  overflow: hidden;
  padding: 5rem 0rem 5rem 0rem;
}
.AwardsSlider {
  width: 100%;
  display: flex;
  gap: 10rem;
  border-radius: 15px;
  animation: slide 20s infinite linear;
}

.AwardsSlider img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.AwardsSlider img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/*-------------------LOGIN FORM---------------------------------*/
.loginForm {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm .field {
  margin-bottom: 1.5rem !important;
}
.loginForm h2 {
  color: var(--primary-font-color);
  margin-bottom: 2rem;
}
.loginForm label {
  color: var(--primary-color);
}


/*------------------MEDIA Q --------------------------*/
@media (max-width: 800px) {
  .Home {
    height: 70vh;
  }
  .BlogContent {
    flex-direction: column;
    row-gap: 1rem;
  }
}


/*------------------ANIMATIONS-----------------------*/

@keyframes animate-element-bottom {
  0% {
      -webkit-transform: translateY(100vw);
      transform: translateY(100vh);
      visibility: hidden;
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}
@keyframes animate-element-right {
  0% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vh);
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}
@keyframes animate-element-left {
  0% {
      -webkit-transform: translateX(-100vw);
      transform: translateX(-100vh);
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

@keyframes animate-element-fade {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slide{
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(calc(-200px*8));
  }
}