.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: white;
  }
  
.Home {
    width: 100%;
    height: 45vh;
    margin-top: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../public/assets/blogExample/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.HomeInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    column-gap: 3rem;
    height: 100%;
}
.HomeInfo h2 {
    font-size: calc(3rem + 1vw);
}
.HomeInfo p {
    padding: 1rem;
    font-size: calc(.8rem + 1vw);
    font-weight: 400;
    font-style: italic;
}
.HomeInfo hr {
    background-color: white;
    border: none;
    height: 3px;
    width: 40%;
}

/*-----------------ABOUT--------------*/
.About {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    color: var(--primary-font-color);
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    transform: translateY(-50px);
}
.About h2{
    font-weight: 400;
}
.About strong{
    font-weight: 800;
}

.AboutGrid {
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem;
    justify-content: center;
}
.AboutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 130px;
    height: max-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgb(0 0 0 / 10%);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor: pointer;
}
.AboutCard:hover {
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.AboutCard p {
    font-size: large;
    font-weight: 500;
}
.AboutCardIcon {
    color: var(--primary-color);
    font-size: calc(3rem + 1vw);
}

/*-------------------GALLERY-------------------------*/

.Gallery {
    width: 100%;
    transform: translateY(-50px);
}
.Gallery img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.slideshow {
    position: relative
}
.actions {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.actions .area{
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 50vw;
    cursor: pointer;
  }

/*----------------------MAP-------------------*/
.MapContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-150px);
}
.Map {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: max-content;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgb(0 0 0 / 10%);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.Map p {
    padding: 1rem;
    font-weight: 600;
}
.Map:hover {
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.MapElement iframe{
    border-radius: 15px;
    width: 100%;
}

/*---------------------CONTACT--------------------*/
.Contact {
    transform: translateY(-90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 0rem 2rem 0rem 2rem;
}
.Contact p {
    text-align: center;
}
.ContactButton{
    z-index: 15;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
}
.ContactButton button {
    background-color: var(--primary-color);
    border: none;
    padding: .5rem;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}
.ContactButton p {
    font-size: 1rem;
}