.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
  }
  
.Home {
    width: 100%;
    height: 45vh;
    margin-top: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../public/assets/blogExample/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.HomeInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    column-gap: 3rem;
    height: 100%;
}
.HomeInfo h2 {
    font-size: calc(3rem + 1vw);
}
.HomeInfo p {
    padding: 1rem;
    font-size: calc(.8rem + 1vw);
    font-weight: 400;
    font-style: italic;
}
.HomeInfo hr {
    background-color: white;
    border: none;
    height: 3px;
    width: 40%;
}

/*-----------------ABOUT--------------*/
.About {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    color: var(--primary-font-color);
    width: 100%;
    padding: 2rem;
}
.About h2{
    font-weight: 400;
}
.About strong{
    font-weight: 800;
}

.AboutGrid {
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem;
    justify-content: center;
}
.AboutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 150px;
    height: max-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.10);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor: pointer;
}
.AboutCard:hover {
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.AboutCard p {
    font-size: large;
    font-weight: 500;
}
.AboutCardIcon {
    color: var(--primary-color);
    font-size: calc(3rem + 1vw);
}